.member-email-box a{
	font-style: italic;
}

.member-email {
	display: none;
}

@font-face {
  font-family: 'simtechicons';
  src: url('fonts/simtechicons.eot');
  src: /*url('http://simtech.ru/wp-content/themes/simtechrutheme/fonts/simtechicons.eot?45176845#iefix') format('embedded-opentype'),
       url('http://simtech.ru/wp-content/themes/simtechrutheme/fonts/simtechicons.woff?45176845') format('woff'),
       url('http://simtech.ru/wp-content/themes/simtechrutheme/fonts/simtechicons.ttf?45176845') format('truetype'),*/
       url('fonts/simtechicons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "simtechicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/*.icon-car-right:before { content: '\e816'; }
.icon-car-left:before { content: '\e816'; } */

.icon-car-right:before { content: '>'; }
.icon-car-left:before { content: '<'; }

.bx-pager {
    display: none;
}
.bx-next,.bx-prev {
    color: #dc2430;
    font-size: 20px;
    position: absolute;
    top: 140px;
    padding: 10px;
}
.bx-next {
    right: 10px;
}
.bx-prev {
    left: 10px;
}

.team-slide {
    float: left;
    width: 100%;
    position: relative;
    margin-top: 20px;
}
.team-slide ul {
    padding: 0px;
}
.team-slide li {
    text-align: center;
}
.team-slide h4 {
    padding-top: 10px;
    padding-bottom: 0px;

}
.team-slide .bx-next {
   top: 110px;
   right: -40px;
   display: none;
}
.team-slide .bx-prev {
   top: 110px;
   left: -40px;
   display: none;
}
.owl-carousel.owl-theme .owl-controls .owl-buttons .owl-prev {
   position: absolute;
   top: 25%;
   left: 0%;
   background-color: #c00;
   color: #fff;
   width: 30px;
   height: 30px;
   margin: 0px;
}
.owl-carousel.owl-theme .owl-controls .owl-buttons .owl-next {
   position: absolute;
   top: 25%;
   right: 0%;
   background-color: #c00;
   color: #fff;
   width: 30px;
   height: 30px;
   margin: 0px;
}
.owl-carousel.owl-theme .owl-controls .owl-buttons .owl-prev:after,
.owl-carousel.owl-theme .owl-controls .owl-buttons .owl-next:before   {
   height: 27px;
   width: 27px;
   line-height: 32px;
   margin-left: 2px;
   border: none; 
}


.owl-carousel.owl-theme .owl-controls .owl-buttons div:hover:after, .owl-carousel.owl-theme .owl-controls .owl-buttons div:hover:before {
border:none;
}

.owl-carousel.owl-theme .owl-controls .owl-buttons, .owl-carousel.owl-theme .owl-controls .owl-buttons {
border:none;
}
.owl-carousel.owl-theme .owl-controls .owl-buttons .owl-prev:after,
.owl-carousel.owl-theme .owl-controls .owl-buttons .owl-next:before   {
   height: 27px !important;
   width: 27px !important;
   line-height: 32px !important;
   margin-left: 2px !important;
   border: none !important; 
}

.owl-pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -30px;
    text-align: center;
}
.owl-pagination .owl-page {
    width: 12px;
    height: 12px;
    background-color: #a9b0b4;
    border-radius: 6px;
    float: left;
    margin-left: 14px;

}
.owl-pagination .active {
    background-color: #dc2430;
}

.team-slide ul li {
    list-style: none;
}
.team-slide ul li img {
    max-width: 90%;
}